Source: budgie-desktop-environment
Section: x11
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), meson
Standards-Version: 4.6.0.1
Homepage: https://github.com/UbuntuBudgie/debian-bde
Vcs-Git: https://github.com/UbuntuBudgie/debian-bde.git
Vcs-Browser: https://github.com/UbuntuBudgie/debian-bde
Rules-Requires-Root: no

Package: budgie-desktop-environment
Architecture: all
Section: misc
Depends:
 budgie-control-center,
 budgie-desktop (>= 10.6.1),
 gnome-keyring,
 gnome-menus,
 gsettings-desktop-schemas,
 gstreamer1.0-alsa,
 network-manager-gnome,
 pulseaudio,
 xdg-user-dirs-gtk,
 libglib2.0-bin,
 ${misc:Depends},
Recommends:
 budgie-desktop-view,
 ntpsec,
 arc-theme,
 avahi-autoipd,
 dmz-cursor-theme,
 firefox-esr,
 fonts-noto-color-emoji,
 fonts-noto-core,
 fonts-noto-ui-core,
 pluma,
 gnome-backgrounds,
 gnome-bluetooth,
 gnome-screenshot,
 mate-terminal,
 gvfs-fuse,
 im-config,
 libfuse2,
 libnotify-bin,
 libproxy1-plugin-gsettings,
 libproxy1-plugin-networkmanager,
 libreoffice-calc,
 libreoffice-writer,
 mousetweaks,
 nano,
 nemo,
 notification-daemon,
 papirus-icon-theme,
 policykey-1-gnome,
 pulseaudio-module-bluetooth,
 slick-greeter,
 xdg-utils,
 bash-completion
Description: Desktop environment customisation for Debian
 Installs all Debian packages, both essential dependencies
 as well as recommended packages and applications.
 Installs:
   Debian Budgie panel configuration
   gsettings overrides
   applies the default Gtk+ theme & icon-theme for GTK+
   applications
