Source: budgie-desktop-environment
Section: x11
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), meson
Standards-Version: 4.6.0.1
Homepage: https://github.com/UbuntuBudgie/debian-bde
Vcs-Git: https://github.com/UbuntuBudgie/debian-bde.git
Vcs-Browser: https://github.com/UbuntuBudgie/debian-bde
Rules-Requires-Root: no

Package: budgie-desktop-environment
Architecture: all
Section: misc
Depends:
 budgie-control-center,
 budgie-desktop,
 firefox-esr | firefox | chromium | www-browser,
 gnome-keyring,
 gnome-menus,
 gsettings-desktop-schemas,
 gstreamer1.0-alsa,
 libglib2.0-bin,
 gnome-terminal | x-terminal-emulator,
 network-manager-gnome,
 pulseaudio,
 xdg-user-dirs-gtk,
 lightdm | x-display-manager,
 xserver-xorg,
 ${misc:Depends},
Recommends:
 arc-theme,
 bash-completion,
 budgie-desktop-view,
 dmz-cursor-theme,
 fonts-noto-color-emoji,
 fonts-noto-core,
 fonts-noto-ui-core,
 gnome-backgrounds,
 gnome-bluetooth,
 gnome-screenshot,
 gvfs-fuse,
 im-config,
 libfuse2,
 libnotify-bin,
 libproxy1-plugin-gsettings,
 libproxy1-plugin-networkmanager,
 libreoffice-calc,
 libreoffice-writer,
 mousetweaks,
 nano,
 nemo,
 notification-daemon,
 papirus-icon-theme,
 gedit,
 policykey-1-gnome,
 pulseaudio-module-bluetooth,
 reportbug,
 slick-greeter,
 xdg-desktop-portal-gtk,
 xdg-utils,
Description: Budgie Desktop environment customisation for Debian
 Installs packages, both essential dependencies
 as well as recommended packages to produce a useful and
 integrated desktop.
 The principles followed are to adhere to upstream budgie
 recommendations coupled with ensuring a minimal but useful set
 of Debian defaults.
 Installs:
   Debian Budgie panel configuration
   gsettings overrides
   applies the default Gtk+ theme & icon-theme for GTK+
   applications
